.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  margin-bottom: 10px;
  padding: 16px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.blog-style {
  padding: 10px 4px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 4px;
}